<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/openflexo/emf/model/exemple1"
            class="com.thalesgroup.openflexo.emf.model.exemple1.Exemple1Package"/>
   </extension>

</plugin>
