<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.thalesgroup.openflexo.emf.model.exemple1.presentation.Exemple1ModelWizardID"
            name="%_UI_Exemple1ModelWizard_label"
            class="com.thalesgroup.openflexo.emf.model.exemple1.presentation.Exemple1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Exemple1ModelFile.gif">
         <description>%_UI_Exemple1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.thalesgroup.openflexo.emf.model.exemple1.presentation.Exemple1EditorID"
            name="%_UI_Exemple1Editor_label"
            icon="icons/full/obj16/Exemple1ModelFile.gif"
            extensions="exemple1"
            class="com.thalesgroup.openflexo.emf.model.exemple1.presentation.Exemple1Editor"
            contributorClass="com.thalesgroup.openflexo.emf.model.exemple1.presentation.Exemple1ActionBarContributor">
      </editor>
   </extension>

</plugin>
