<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            class="com.thalesgroup.openflexo.emf.model.city1.presentation.City1ModelWizard"
            icon="icons/full/obj16/city1ModelFile.gif"
            id="com.thalesgroup.openflexo.emf.model.city1.presentation.city1ModelWizardID"
            name="%_UI_city1ModelWizard_label">
         <description>%_UI_city1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.thalesgroup.openflexo.emf.model.city1.presentation.City1EditorID"
            name="%_UI_city1Editor_label"
            icon="icons/full/obj16/city1ModelFile.gif"
            extensions="city1"
            class="com.thalesgroup.openflexo.emf.model.city1.presentation.City1Editor"
            contributorClass="com.thalesgroup.openflexo.emf.model.city1.presentation.City1ActionBarContributor">
      </editor>
   </extension>

</plugin>
