<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.openflexo.category"
            name="OpenFlexo">
      </category>
      <wizard
            category="org.openflexo.category"
            class="org.openflexo.emfconnector.metamodel.exporter.ui.EMFMetaModelExportWizard"
            id="org.openflexo.emfconnector.metamodel.exporter.wizard"
            name="EMF Exporter">
      </wizard>
   </extension>

</plugin>
